:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #8a470c;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;
  --text-black: #000000;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;

  /* Variables Declaration */
    --text-color: #000000;
    /* Primary Colors */
    --deep-sea-blue: #03587B;
    --fountain-blue: #5BB4C3;
    --mercury: #E2E8EB;
    --white: #FFFFFF;
    /* Secondary Colors */
    --aqua-green: #6FCF97;
    --sky-blue: #56CCF2;
    --sunlight-yellow: #F2C94C;
    --soft-grey: #E0E0E0;
    /* Reviews */
    --button: #c55a03;
    /* Form */
    --required-asterisc: #990000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

p {
  padding: 0.75rem;
}

.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo a {
  text-decoration: none;
  color: var(--font-body);
}

.hero {
  position: relative;
}

.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -15px;
  background-color: white;
}

.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}

.logo--square>div {
  margin-top: -1.7em;
}

/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

.title {
  font-size: 2.2rem;
  font-variant: small-caps;
  text-shadow: 0 0 .5em #777;
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}

.divider {
  border-bottom: 1px solid var(--primary-color);
}

/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart-badge-wrapper {
  position: absolute;
  top: 8px;
  right: -5px;
  background-color: var(--button);
  color: white;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-badge {
  font-size: 12px;
  font-weight: bold;
}

.cart-badge .hide {
  display: none;
}

.cart svg {
  width: 25px;
}

.cart:hover svg {
  fill: gray;
}

/* End cart icon styles */

.mission {
  top: 1rem;
  left: 0;
  right: 0;
  line-height: 1.3;
  width: 100%;
  color: var(--text-black);
}

.mission p {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 1rem auto;
}

/* Product Grid */
.product-grid {
  columns: 4;
  column-gap: 1rem;
  list-style-type: none;
  text-align: center;
}

.product-grid a {
  text-decoration: none;
  color: var(--dark-grey);
  font-size: var(--small-font);
}

.product-grid img {
  width: min(100px, 90%);
}

.product-categories img {
  width: 50px;
  /* Adjust the width to make the icons smaller */
  height: auto;
  /* Maintain aspect ratio */
  margin: 0 auto;
  /* Center the icons if needed */
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products {
  margin-top: 2rem;
  padding: 1rem;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  align-items: stretch;
  justify-content: center;
}

.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}

/* Style for Title h2 and Search bar */

.list-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

/* Styles for product lists */
.product-card {
  flex: 1 1 100%;
  margin: 0.25em;
  padding: 1em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
  text-align: center;
}

.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}

/* End product list card */

.product-detail {
  width: max(500px, 90%);
  margin: 1em auto;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 2em;
}

.product-detail h2 {
  grid-column: 1/3;
  padding: 0.5em;
  text-align: center;
  background-color: var(--dark-grey);
  color: #fff;
}

.product-detail img {
  width: 100%;
}

.product-detail h2 {
  margin-bottom: 0.5em;
}

#p-price {
  font-size: 1.5em;
  color: var(--secondary-color);
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}

.cart-card p {
  margin-top: 0;
}

.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;

  grid-column: 3;
}

.hide {
  display: none;
}

.products > div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.checkout-btn {
  text-decoration: none;
  color: var(--light-grey);
  background-color: var(--dark-grey);
  padding: 0.75rem;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.checkout-btn:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }

  .mission {
    font-size: 1.2em;
  }

  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

footer {
  font-size: var(--small-font);
  border-top: 1px solid var(--tertiary-color);
  padding: 1em;
}

/* Order Summary */

#order-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500;
}

#order-summary li {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 1rem;
}

#order-summary strong,
#order-summary span {
  place-self: end;
}

#order-summary hr {
  margin: 0.25rem 0 1rem;
}

#order-summary div {
  display: inline;
}

#order-summary li > div {
  display: flex;
  flex-direction: row;
}

#order-summary li > div > div {
  flex-grow: 1;
}



/* Form Styling */

.checkout-form {
  padding: 1rem;
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
}

.checkout-form fieldset {
  border: none;
  padding-top: 1rem;
}

.checkout-form label,
.checkout-form div {
  display: block;
  color: var(--deep-sea-blue);
  font-size: 0.9rem;
  color: var(--form-labels);
  font-weight: 600;
  padding: 0.5rem 0;
}

.checkout-form label:first-child {
  padding-top: 0;
}

.checkout-form input[type="text"],
.checkout-form input[type="month"],
.checkout-form input[type="number"] {
  background-color: var(--mercury);
  display: block;
  width: 100%;
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
}

.checkout-form input[id="cvv"] {
  width: 3rem;
}



.checkout-form .topic input[type="radio"] {
  margin-right: 6px;
}

.checkout-form input[type="submit"] {
  border: none;
  background-color: var(--button);
  border-radius: 5px;
  padding: 0.8rem;
  box-shadow: 1px 1px 4px var(--dark-grey);
  color: var(--mercury);
  font-weight: 600;
  cursor: pointer;
}

.checkout-form input:required {
  border-right: solid 4px var(--required-asterisc);
}

.checkout-form input:required:valid {
  border-right: solid 4px green;
}

.checkout-form .required {
  color: var(--required-asterisc);
  margin-left: 5px;
}

/* success.html */

.thanks {
  max-width: 600px;
  margin: 100px auto;
  padding: 40px;
  text-align: center;
  background-color: var(--mercury);
  border: #000000;
  border-radius: 5px;
  box-shadow: 1px 1px 4px var(--dark-grey);
  font-size: var(--large-font);
  color: var(--text-black);
  font-weight: 600;
  line-height: 1.5;
}
