<div class="logo">
  <img
    src="/images/noun_Tent_2517.svg"
    alt="tent image for logo"
    width="30"
    height="30"
  />
  <a href="/index.html"> Sleep<span class="highlight">Outside</span></a>
</div>
<div class="cart">
  <a href="/cart/index.html">
    <img
      src="/images/logos/cart-logo.svg"
      alt="cart logo"
      width="30"
      height="30"
    />
  </a>
  <div id="cart-badge-wrapper" class="cart-badge-wrapper">
    <span id="cart-badge" class="cart-badge"></span>
  </div>
</div>
